<div class="container">
  <bread-Crumbs link-Ctrl="linkCtrl" view-Link-Ctrl="viewLinkCtrl" current-Page-Ctrl="currentPageCtrl"></bread-Crumbs>


  <div >

    <div>
      <div class="msm-box-control">
        <button ng-show="showButtonAdd" ng-click="loadNewSongList();focusInput=true"
                class="btn btn-primary msm-box-control-button" data-toggle="modal"
                data-target=".bs-add-list-modal-lg"
                data-toggle="tooltip" data-placement="top" title="{{'msmBtn.btnCreate'| i18next}}">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button ng-show="showButtonDeleteMul" id="btnDeleteAll" class="btn btn-danger msm-box-control-button"
                data-toggle="modal" data-target=".bs-deleteMulti-modal-lg" ng-disabled="enableDeleteMul"
                data-toggle="tooltip" data-placement="top" title="{{'msmBtn.btnDelete'| i18next}}">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
        <button ng-show="showButtonSearch" class="btn btn-info msm-box-control-button"
                ng-click="clickSearch($event)"
                data-toggle="tooltip" data-placement="top" title="{{'msmBtn.btnSearch'| i18next}}">
          <span class="glyphicon glyphicon-search"></span>
        </button>
        <!--<input ng-model="keySearchPlaylist" type="text" class="form-control" class="msm-cls-id-search" placeholder="search name!!!">-->

        <input ng-show="showInputSearchList" ng-model="keySearch" id="msm-cls-id-search" placeholder="{{'msmBtn.txtPlaceholder'| i18next}}"
               type="text" class="form-control" >
                <span ng-show="showCloseSearchList" id="msm-cls-id-close-input-search-list"
                      ng-click="clickCloseSearchList($event)" class="glyphicon glyphicon-remove"></span>


      </div>

      <div class="msm-div-parent-of-heading">
        <h2 class="msm-font-major msm-font-size-screen-min" ng-model="infoListCurrent">
          {{'msmCreateList.txtListName'| i18next}} : {{infoListCurrent[0].name}}
        </h2>

        <h2 class="msm-font-major msm-font-size-screen-min" ng-model="infoListCurrent">
          {{'msmCreateList.txtListDateCreated'| i18next}} : {{infoListCurrent[0].date}}
        </h2>

      </div>

      <div class="msm-parent-box-small">

        <span ng-click="clickParentBoxSmall()" class="msm-show-menu-small glyphicon glyphicon-th msm-font-major msm-font-size-screen-min"></span>

        <div class="msm-box-control-small" ng-class="effectShow">
          <button ng-show="showButtonAdd" ng-click="loadNewSongList();focusInput=true"
                  class="btn btn-primary msm-box-control-button" data-toggle="modal"
                  data-target=".bs-add-list-modal-lg"
                  data-toggle="tooltip" data-placement="top" title="{{'msmBtn.btnCreate'| i18next}}">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
          <button ng-show="showButtonDeleteMul"  class="btn btn-danger msm-box-control-button"
                  data-toggle="modal" data-target=".bs-deleteMulti-modal-lg" ng-disabled="enableDeleteMul"
                  data-toggle="tooltip" data-placement="top" title="{{'msmBtn.btnDelete'| i18next}}">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
          <button ng-show="showButtonSearch" class="btn btn-info msm-box-control-button"
                  ng-click="clickSearch($event)"
                  data-toggle="tooltip" data-placement="top" title="{{'msmBtn.btnSearch'| i18next}}">
            <span class="glyphicon glyphicon-search"></span>
          </button>

          <div class="msm-parent-of-text-box-and-close-small">
            <input ng-show="showInputSearchList" ng-model="keySearch"  placeholder="{{'msmBtn.txtPlaceholder'| i18next}}"
                   type="text" class="form-control msm-input-search-small" >

             <span ng-show="showCloseSearchList"
                   ng-click="clickCloseSearchList($event)" class="glyphicon glyphicon-remove msm-close-absolute"></span>


          </div>
        </div>

      </div>

    </div>

    <div id="content_insert_new_list" class="modal fade bs-add-list-modal-lg" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="panel-heading-add-list">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="panel-title">{{'msmCreateList.txtPanelAddSongInListCurrentTitle'| i18next}}</h3>
          </div>
          <div class="panel-body">
            <div class="msm-cls-id-list-chose-song-add-list-current">
              <div class="col-lg-6">
                <div>
                  <input type="text" ng-model="searchSongListView" class="form-control"
                         placeholder="{{'msmBtn.txtPlaceholder'| i18next}}">
                </div>
                <!-- /input-group -->
              </div>
              <table-song
                valuecheckallview='checkChoose'
                revert="revertViewAdd"
                table-data="songInListAdd"
                keysearch="searchSongListView"
                ng-init="revertViewAdd=[1,2]"
                >
              </table-song>

            </div>
          </div>

          <div class="panel-footer">
            <button ng-disabled="showButtonCreate" type="button" class="btn btn-default"
                    data-dismiss="modal"   ng-click="addSongIntoPlaylist()">Ok
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="panel-heading-list">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="panel-title"> {{'msmCreateList.txtPanelDeleteCurrentSongListCurrentTitle'| i18next}} {{infoListCurrent[0].name}}--</h3>
          </div>
          <div class="panel-body">
            {{'msmCreateList.txtContentDeleteCurrentSongListCurrentTitle'| i18next}}
          </div>
          <div class="panel-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="deleteCurrentSongInListCurrent()">Ok
            </button>
            <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="closeDeleteBox()">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade bs-deleteMulti-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="panel-heading-list">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="panel-title">{{'msmCreateList.txtPanelDeleteMultiSongListCurrentTitle'| i18next}}</h3>
          </div>
          <div class="panel-body">
            {{'msmCreateList.txtContentDeleteMultiSongListCurrentTitle'| i18next}}
          </div>
          <div class="panel-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteMultiSongInCurrentList()">Ok
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <form class="form-horizontal" role="form">

      <br>
      <table-song
        valuecheckallview='valueCheckAllView'
        revert="revert"
        table-data="songInListDataView"
        keysearch="keySearch"
        get-id-delete="getIdDeleteSongInList"
        go-to-edit = 'goToEditSong'
        show-column-one = 'showColumnOne'
        show-column-four = 'showColumnFour'
        show-column-four-has-edit-btn = 'showColumnFourHasEditBtn'
        ng-init="showColumnOne =true; showColumnFour=true;showColumnFourHasEditBtn=false;"
        >
      </table-song>


    </form>

  </div>
</div>